name: IPTV Report

on:
  schedule:
    - cron: "10 13 * * *"     # 08:10 Bogotá
    - cron: "30 20,1 * * *"   # 15:30 y 20:30 Bogotá
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install requests

      - name: Run script
        # Si decides usar secrets, descomenta y ajústalo en tu script.
        # env:
        #   APIKEY1: ${{ secrets.APIKEY1 }}
        #   APIKEY2: ${{ secrets.APIKEY2 }}
        #   APIKEY3: ${{ secrets.APIKEY3 }}
        run: python verificador.py

      - name: Save summary artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: resumen-canales
          path: Canales_Caidos.txt
          if-no-files-found: ignore
